section.ActivityBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.area-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.textSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h3.area-2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
div.pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
div.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

img.qrCode {
  margin-bottom: 12px;
  width: 132px;
  height: 132px;
}

img.h5 {
  width: 132px;
  height: 132px;
}

p.area-2 {
  text-align: center;
  margin-left: 0 !important;
}

@media (max-width: 700px) {
  img.img-area-2 {
    width: 80%;
    margin: 0rem 3rem;
  }
}

@media (max-width: 600px) {
  p.area-2 {
    padding: 0rem 2rem;
  }
}
