* {
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  display: block;
}
h1.activity-news {
  display: block;
  font-size: 1.5rem;
}
.p_banner {
  background: url(../components/componentsImages/promotionBanner.jpg) center;
  background-repeat: no-repeat;
  padding-top: 280px;
  padding-bottom: 80px;
}
@media screen and (max-width: 1300px) {
  .p_banner {
    margin-top: 0;
    padding-top: 25%;
    background-size: auto 80%;
  }
}

@media screen and (max-width: 768px) {
  .p_banner {
    padding-bottom: 6%;
  }
}
.promote_list {
  background: #1e1e1e;
  padding: 55px 0;
  position: relative;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.promote_list_item {
  background: #3b3b3b;
  margin-bottom: 55px;
}

.p_list_right,
.p_list_left {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 580px) {
  .p_list_left {
    width: 82px;
    position: absolute;
  }
}

.left_pic {
  position: relative;
}

.left_pic img {
  margin-top: -10px;
  margin-bottom: -2px;
}
@media screen and (max-width: 580px) {
  .p_list_left img {
    width: 100%;
    margin-top: -4px;
    margin-bottom: -2px;
    position: relative;
  }
}

.left_message {
  background: #323232;
  background: -moz-linear-gradient(-45deg, #323232 0%, #191919 99%);
  background: -webkit-linear-gradient(-45deg, #323232 0%, #191919 99%);
  background: linear-gradient(135deg, #323232 0%, #191919 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#191919',GradientType=1 );
  width: 225px;
}
@media screen and (max-width: 580px) {
  .left_message {
    display: none;
  }
}

.p_name {
  font-size: 16px;
  color: #fff;
  padding-top: 30px;
  text-align: center;
}

.d_date {
  font-size: 16px;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
}

.p_list_right {
  padding: 40px;
  width: calc(100% - 245px);
}
@media screen and (max-width: 580px) {
  .p_list_right {
    width: 100% !important;
    border-bottom: 1px solid #5a5a5a;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .p_list_right {
    padding: 0px 20px 20px 13px;
    width: calc(100% - 245px);
  }
}
@media screen and (max-width: 960px) {
  .p_list_right {
    padding: 20px 30px;
  }
}

.list_content.closeH {
  height: 350px;
  overflow: hidden;
}
.list_content {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .list_content.closeH {
    height: 165px;
  }
}
@media screen and (max-width: 580px) {
  .list_content {
    padding: 20px 20px;
  }
}

.list_title {
  padding: 20px 0;
  border-bottom: 1px solid #5a5a5a;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 505px) {
  .list_title {
    font-size: 4.6vw;
  }
}
@media screen and (max-width: 580px) {
  .list_title {
    position: relative;
    height: 82px;
    width: calc(100% - 7px);
    margin: -20px;
    margin-bottom: 20px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .list_title {
    text-align: left;
    padding: 20px 0;
  }
}
@media screen and (max-width: 580px) {
  .list_title h1 {
    text-align: left;
    font-size: 18px;
    padding: 20px 25px 15px 5px;
    border-bottom: none;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.2;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

.a_outline {
  padding-top: 20px;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 0rem;
}
@media screen and (max-width: 580px) {
  .a_outline {
    padding-top: 0px;
    font-size: 14px;
  }
}

.list_table {
  width: 100%;
}
@media screen and (max-width: 960px) {
  .list_table {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.list_table thead th {
  background-color: #ebcc8d;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 0;
  border: 1px solid #969696;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .list_table thead th {
    padding: 8px 0px;
  }
}
.list_header {
  padding-top: 10px;
  color: #ebcc8d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0rem;
}

.a_requirement {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  padding: 10px 20px 0 20px;
  list-style-type: decimal;
}

.bottom_btn {
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #c8c8c8;
  color: #3b3b3b;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
@media screen and (max-width: 580px) {
  .bottom_btn {
    margin-top: 20px;
  }
}
.bottom_btn p {
  display: inline;
  color: #3b3b3b;
}
.bottom_btn.open .arrow {
  transform: rotate(0deg);
}

.arrow {
  width: 20px;
  margin-right: 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
