.modal-content {
  border: none;
}

.loginBox {
  background: #171717;
  padding: 0 3vw;
  display: inline-block;
  position: absolute;
  width: 90%;
  max-width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  border-radius: 8px;
  box-shadow: 1px 1px 45px inset rgb(255 255 255 / 10%);
}

.popHead {
  color: #fff1dc;
  font-size: 22px;
  margin: 0 -3vw;
  text-align: center;
  position: relative;
  padding: 18px 15px;
  background: #464646;
  background: linear-gradient(
    45deg,
    #464646 0%,
    #323232 10%,
    #464646 24%,
    #2b2b2b 26%,
    #0e0e0e 65%,
    #727272 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#727272',GradientType=1 );
}
.popHead a {
  position: absolute;
  right: 20px;
  top: 17px;
}
.popContent a {
  text-decoration: none;
}
.close {
  width: 25px;
  float: right;
  cursor: pointer;
  transition: all 0.3s;
}
.close:hover {
  opacity: 0.7;
}
.popHead:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fceabb;
  background: linear-gradient(
    135deg,
    #613b09 0%,
    #fceabb 10%,
    #fccd4d 29%,
    #f7e6bb 51%,
    #f8b500 73%,
    #613b09 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
}
.popContent {
  background: #171717;
  padding: 0 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.inputGroup {
  padding: 15px 0;
  position: relative;
}
.inputGroup input:focus {
  outline: none;
  border: 1px solid #f0d298;
}
.account input {
  background: #101010 url(../components/componentsImages/user.svg) left
    no-repeat;
  padding-left: 40px !important;
  -webkit-background-size: 38px;
  -o-background-size: 38px;
  background-size: 38px;
}
.inputGroup input {
  border: 1px solid #353535;
  padding: 12px 8px;
  font-size: 17px;
  line-height: 1;
  width: 100%;
  color: #ffdfae;
  border-radius: 5px;
}
.inputGroup .errorMsg {
  color: #ff4949;
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 15px;
  display: none;
  padding: 3px 0;
}
.pw input,
.confirmPw input {
  background: #101010 url(../components/componentsImages/password.svg) left
    no-repeat;
  padding-left: 40px;
  -webkit-background-size: 38px;
  -o-background-size: 38px;
  background-size: 38px;
}
.submit {
  display: block;
  color: #1c0e00;
  font-weight: bold;
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: all 0.3s;
  box-shadow: inset 0px -3px 4px 0px #e1ca99;
  background: #f1c787;
  background-image: -ms-linear-gradient(
    -185deg,
    #f1c787 0%,
    #fffdbc 37%,
    #d6aa6f 73%,
    #785e3e 100%
  );
  background-image: -o-linear-gradient(
    -185deg,
    #f1c787 0%,
    #fffdbc 37%,
    #d6aa6f 73%,
    #785e3e 100%
  );
  background-image: linear-gradient(
    -185deg,
    #f1c787 0%,
    #fffdbc 37%,
    #d6aa6f 73%,
    #785e3e 100%
  );
  outline: none;
}
.submit:hover {
  opacity: 0.8;
}
.flle {
  float: left;
}
a.forgotPW,
a.register {
  color: #ffdfae;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s;
}
a.forgotPW:hover,
a.register:hover {
  opacity: 0.8;
}

.flri p {
  display: inline-block;
  font-size: 15px;
  color: #7d7d7d;
  padding-right: 4px;
}
.divide {
  margin-top: 75px;
  position: relative;
}
.divide hr {
  border: none;
  border-top: 2px solid #333;
}
.divide p {
  color: #999;
  font-size: 13px;
  background: #171717;
  position: absolute;
  padding: 3px 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  margin: 0 -10px;
  margin-bottom: -20px;
}
.socialLinks a {
  display: inline-block;
  width: 43%;
  margin: 0px 10px;
}
.socialLinks a img {
  width: 100%;
}
.facebookLogin {
  display: inline-block;
  width: 180px;
  height: 51px;
  background-size: cover;
  border-radius: 9% !important;
  background-image: url(./componentsImages/FbBtn.png);
  margin-top: 4px;
  transition: all ease 0.3s;
}
.facebookLogin:hover {
  opacity: 0.7;
}

@media (max-width: 1710px) {
  .socialLinks a {
    width: 180px;
    height: 51px;
  }
  .facebookLogin {
    margin-top: 10px;
  }
}
