@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

.wrapper {
  display: flex;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.sliderImg {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 0vw;
  object-fit: cover;
  height: 100%;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: black;
  background-color: transparent;
}

.slick-next:before,
.slick-prev:before {
  font-size: 50px;
  color: black;
  background-color: transparent;
}
.slides .slick-prev {
  left: -1.8%;
}

.slides .slick-next {
  right: 0.5%;
}
div.shadow {
  width: 100% !important;
  mix-blend-mode: color-burn !important;
  box-shadow: none !important;
}

img.shadow {
  width: 100% !important;
  box-shadow: none !important;
}

section {
  background-color: #1d1c1c;
}
