@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

.wrapper {
  display: flex;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.sliderImg {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: black;
  background-color: transparent;
}
.slick-next::before {
  background-image: url(./componentsImages/arr-right.png);
  background-size: 35px 91px;
}
.slick-prev::before {
  background-image: url(./componentsImages/arr-left.png);
  background-size: 35px 91px;
}
.slick-next::before,
.slick-prev::before {
  display: inline-block;
  line-height: 0.7;
  z-index: 3;
  opacity: 0.9;
  background-repeat: no-repeat;
  color: transparent;
  background-color: transparent;
  transition: ease all 0.5s;
  width: 35px;
  height: 100px;
}

.slick-prev:hover::before {
  opacity: 0.5;
}
.slick-next:hover::before {
  opacity: 0.5;
}
.slides .slick-prev {
  left: 1%;
}

.slides .slick-next {
  right: 2.5%;
}
div.shadow {
  width: 100% !important;
  mix-blend-mode: color-burn !important;
  box-shadow: none !important;
}

img.shadow {
  width: 100% !important;
  box-shadow: none !important;
}

section {
  background-color: #1d1c1c;
}

/* @media (max-width: 1100px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 9rem;
  }
}

@media (max-width: 850px) {
  .slick-prev:before,
  .slick-next:before {
    font-size: 7rem;
  }
} */

@media (max-width: 550px) {
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}
